@page
@model ZoesBlog.Pages.DeleteBlogPostModel
@{
}
<h1>Are you sure you want to delete this post? Once it has been deleted it cannot be recovered.</h1>
<i class="fab fa-font-awesome"></i>
<span>
	<button class="btn btn-default">
		<i class="fas fa-500px"></i>
	</button>
</span>

