@page
@model IndexModel
@{
	ViewData["Title"] = "Index";
}

@foreach (var blogPost in Model.BlogPosts)
{
	<p>
		<div style="text-align:center">
			<h1>@blogPost.Title</h1> 
			<a asp-page="./IndividualBlogPost" asp-route-id="@blogPost.Id">IndividualBlogPost</a>
			<div>@blogPost.PublishedAt</div>
			<div>@blogPost.Body</div>
		</div>
	</p>
}
