@page "{id:Guid}"
@model IndividualBlogPostModel
@{
	ViewData["Title"] = "BlogPost";
}

<p>
	<div>
		<h1>@Model.BlogPost.Title</h1>
		<div>@Model.BlogPost.PublishedAt</div>
		<div>@Model.BlogPost.Body</div>
		<div>@Model.BlogPost.Tags</div>

	</div>
</p>

