@page "{id:Guid}"
@model IndividualBlogPostModel
@{
	ViewData["Title"] = "BlogPost";
}

<p>
	<div style="text-align:center">
		<h1>@Model.BlogPost.Title</h1>
		<div>@Model.BlogPost.PublishedAt</div>
		<div>@Model.BlogPost.Body</div>
	</div>
</p>

