@page "{blogPostId:int}"
@model IndividualBlogPostModel
@{
	ViewData["Title"] = "BlogPost";
}

@*<h2>@BlogPost.Title</h2>
<div>
	Id: @Model.Id
</div>
<div>
	Location: @Model.Restaurant.Location
</div>
<div>
	Cuisine: @Model.Restaurant.Cuisine
</div>*@
