@page
@model ZoesBlog.Pages.LoginFailModel
@{
	ViewData["Title"] = "LoginFail";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>LoginFail</h1>
<p>The user information you have provided is not valid try again.</p>
<a asp-page="/Login">Login</a>
