@page
@model ZoesBlog.Pages.LoginFailModel
@{
	ViewData["Title"] = "LoginFail";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Login Failed</h1>
<p>The user information you have provided is not valid, please try again.</p>
<a asp-page="/Login">Back to Login</a>
