@page
@model ZoesBlog.Pages.TagCloudModel
@{
	ViewData["Title"] = "TagCloud";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
	<h1>TagCloud for Zoe's Blog </h1>
	@Model.Tags
</div>
