@page
@model ZoesBlog.Pages.TagCloudModel
@{
	ViewData["Title"] = "TagCloud";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>TagCloud</h1>

<div class="tag tag-cloud">
		@foreach (var tag in Model.TagCloud)
		{
			<span class="tag kind-@tag.Text"></span>
		}
	</div>
