custom-text {
	color: red; 
}
* {
	box-sizing: border-box;
}

.column {
	float: left;
	padding: 10px;
}

.left {
	width: 75%;
}

.right {
	width: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

.imageContainer {
	top: 300px;
	left: 0;
	background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png);
	color: palevioletred;
	width: 100%;
	height: 150px;
	position: absolute;
	object-fit: contain;
	text-align: center;
	top: 50px;
	vertical-align: text-bottom;
	padding-top: 40px;
	padding-bottom: 30px;
}