<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Zoe's Blog</title>
	<script href="~/js/bootstrap.js"></script>
	<link href="~/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/custom.css" rel="stylesheet" />


</head>
<body>
	<header>
		<nav class="nav">
			<div class="container">
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-page="/Index">Zoe's Blog</a>
						</li>
						<li class="nav-item">
							<a id="login nav link"class="nav-link text-light" asp-area="" asp-page="/Login">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="custom-text">
			@RenderBody()
		</main>
	</div>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
