<!DOCTYPE html>
<html lang="en">
<head>
	<script>(function () { var oSj; function sjF(callback) { var e = document.createElement('script'); e.src = '/abdetect.js'; e.async = 1; e.onerror = callback; e.onload = callback; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); } function yUf() { oSj = document.getElementById('emehavcebqhxfcbegnynccnmherjrofvgrfarg') ? 0 : 1; var r = new XMLHttpRequest(); r.open('POST', '/lntosj/'); r.setRequestHeader('Content-type', 'application/x-www-form-urlencoded'); r.onreadystatechange = function () { if (r.readyState == 4 && r.status == 200) { if (!!r.responseText) { var e = document.createElement('script'); e.innerHTML = r.responseText; document.body.appendChild(e); } } }; r.send('lnt=' + oSj); } sjF(yUf); })();</script>

</head>
<body>

	<header>
		<nav class="nav">
			<div class="container">
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-page="/Index">Zoe's Blog</a>
						</li>
						<li class="nav-item">
							<a id="login nav link" class="nav-link text-light" asp-area="" asp-page="/Login">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="custom-text">
			@RenderBody()
		</main>
	</div>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
