@page
@model ZoesBlog.Areas.Private.Pages.CreateBlogPostModel
@{
	Layout = "_AdminLayout";
}

<form method="post">
	<div class="form-group">
		<label>
			Title
			<input asp-for="UserBlogPost.Title" type="text" class="form-control" aria-describedby="titleHelp" placeholder="Title">
		</label>
		<small id="titleHelp" class="form-text text-muted">The title of the blog post</small>
	</div>
	<div class="form-group">
		<label>
			Body
			<input asp-for="UserBlogPost.Body" type="text" class="form-control" aria-describedby="bodyHelp" placeholder="Body">
		</label>
		<small id="bodyHelp" class="form-text text-muted">The body of the blog post</small>
	</div>
	<div class="form-group">
		<label>
			Tags
			<input asp-for="UserBlogPost.Tags" type="text" class="form-control" aria-describedby="tagHelp" placeholder="tags">
		</label>
		<small id="tagHelp" class="form-text text-muted">The tags of the blog post</small>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
</form>
