@page
@model ZoesBlog.Areas.Private.Pages.DeleteCommentModel
@{
}
<h3>Are you sure you want to delete this comment: @Model.Comments.Body? Once it has been deleted it cannot be recovered.</h3>
<form method="post">
	<input type="hidden" asp-for="@Model.Comments.Id" />
	<input type="submit" value="Delete" class="btn btn-danger" /> |
	<a asp-area="Private" asp-page="./Index">Cancel</a>
</form>