@page
@model ZoesBlog.Areas.Private.Pages.EditBlogPostModel
@{
	Layout = "_AdminLayout";
}

	<h1>Edit post: "@Model.BlogPost.Title"</h1>

<hr />
<div class="row">
	<div class="col-md-10">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="BlogPost.Id" />
			<div class="form-group">
				<label asp-for="BlogPost.Title"></label>
				<input asp-for="BlogPost.Title" class="form-control" />
				<span asp-validation-for="BlogPost.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BlogPost.Body"></label>
				<textarea rows="10" cols="100" asp-for="BlogPost.Body" class="form-control"></textarea>
				<span asp-validation-for="BlogPost.Body" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Tags"></label>
				<input asp-for="Tags" class="form-control" />
				<span asp-validation-for="Tags" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
