@page
@model ZoesBlog.Areas.Private.Pages.EditBlogPostModel
@{
	Layout = "_AdminLayout";
}

<h1>Edit: </h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="BlogPost.Id" />
			<div class="form-group">
				<label asp-for="BlogPost.Title" class="control-label"></label>
				<input asp-for="BlogPost.Title" class="form-control" />
				<span asp-validation-for="BlogPost.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BlogPost.Body" class="control-label"></label>
				<input asp-for="BlogPost.Body" class="form-control" />
				<span asp-validation-for="BlogPost.Body" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BlogPost.Tags" class="control-label"></label>
				<input asp-for="BlogPost.Tags" class="form-control" />
				<span asp-validation-for="BlogPost.Tags" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Admin">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
