@page
@model ZoesBlog.Areas.Private.Pages.LogoutModel
@{
	Layout = "_AdminLayout";
}
<h1>Logout</h1>

<form method="post">
	<p>Are You Sure You Want To Logout?</p>
	<button type="submit" class="btn btn-primary">Continue</button>
	<a asp-area="Private" asp-page="/Index" class="btn btn-primary">Cancel</a>
</form>